 
/*
     FILE ARCHIVED ON 10:51:58 Dec 12, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:33:04 Oct 27, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 139.874
  esindex: 0.051
  LoadShardBlock: 95.552 (3)
  load_resource: 170.403
  exclusion.robots: 0.245
  RedisCDXSource: 2.559
  exclusion.robots.policy: 0.232
  PetaboxLoader3.datanode: 153.713 (4)
  CDXLines.iter: 34.854 (3)
  PetaboxLoader3.resolve: 104.767
*/