.reg-RUS .b-header{
    background: url(/web/20121212105204im_/http://worldoftanks.ru/static/3.8.1.3/common/css/skins/wot_8_2_v/img/8_2_header.jpg) no-repeat 0 100%;
}
body.reg-RUS{
    background-image: url(/web/20121212105204im_/http://worldoftanks.ru/static/3.8.1.3/common/css/skins/wot_8_2_v/img/ru_back.jpg);
}
/*
     FILE ARCHIVED ON 10:52:04 Dec 12, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:32:17 Oct 27, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 124.224
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.072
  RedisCDXSource: 3.255
  esindex: 0.005
  LoadShardBlock: 102.114 (3)
  PetaboxLoader3.datanode: 96.206 (4)
  CDXLines.iter: 16.494 (3)
  load_resource: 111.99
  PetaboxLoader3.resolve: 55.11
*/